.vs/
**/obj/
**/bin/
*.suo
*.user
*.sln.cache



# Maui files 


*.vsidx
*.assets.cache
*.AssemblyReferences.cache
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
*.GeneratedMSBuildEditorConfig.editorconfig
